# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out
__pycache__
# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
.backup
*.backup.*
.archive*
*.*old*
.log
.lock
*.lock
.cache
.log
.lock
*.lock
.cache
.pyc
bin
obj
.
# System Files
.DS_Store
Thumbs.db

# Rust
target
target/*

__pycache__
CACHE*
migrations
*migrations
migrations*
